<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <title>Django Course</title>
  </head>
  <body>
    <section class="py-10">
     <h1 class="text-center text-4xl">Book Title: {{book.title}}</h1>

     <details>
       <summary>Short Description</summary>
       <p>{{book.shortDescription}}</p>
     </details>

     <details>
       <summary>Long Description</summary>
       <p>{{book.longDescription}}</p>
     </details>

     <h4>Category: {{book.categories}}</h4>

     <h5>Authors: 
       
      {{ book.authors|join:", " }}
       
      </h5>

      <h5>
        Status : {{book.status}}
      </h5>
     
      <form method="post" action="{% url 'book.review' %}">
        {% csrf_token %}
        <textarea class="border rounded p-2 w-full" placeholder="Write Your Review Here" name="" id="" rows="5"></textarea>


        <button type="submit" class="float-right border rounded p-2 bg-gray-800 text-white">Submit</button>
      </form>

    </section>
  </body>
</html>
